#tsbody{
    width: 300px; /* Plugin width */
    background-color:transparent; /* Background color */
    margin:0;
    padding:0;
}

#tsbanner{
    width: 300px; /* Banner width */
}

#tsbody h2{
    font-size:18px; /* Font size server name */
    color:black; /* Font color server name */
    margin-top:0px; /* Server name distance to the top */
    margin-bottom:5px; /* Server name to the bottom */
}

#tsbody h3{
    margin-top:0px; /* IP distance to the top */
    margin-bottom:5px; /* IP distance to the bottom */
}

#tsbody h3 a{
    text-decoration:none;
    color:black; /* Font color IP */
    font-size:16px; /* Font size IP*/
    padding:0;
}


.useron{
    font-size:12px; /* Font size User online */
    color:black; /* Font color headline: User online */
    margin-top:10px; /* User online distance to the top */
    margin-bottom:10px; /* User online distance to the bottom */
}


.tsca{
    color:black; /* Font color channel name */
    font-size:14px; /* Font size channel name */
    float:left;
    min-width:20px;
}

.tsna{
    color:black; /* Font color user name */
    font-size:14px; /* Font size user name */
    float:left;
    min-width:20px;
}

#legend h3{
    font-size:14px; /* Font size headline: Legend */
    color:black; /* Font color headline: Legend */
    margin-top:15px; /* Legend headline distance to the top */
    margin-bottom:5px; /* Legend headline distance to the bottom */
}


.tsle{
    color:black; /* Font color Legend text */
    font-size:14px; /* Font size Legend text */
    min-width:20px;
    float:left;
}

#ts3stats h3{
    font-size:14px; /* Font size headline: Statistic */
    color:black; /* Font color headline: Statistic */
    margin-top:15px; /* Statistic headline distance to the top */
    margin-bottom:5px; /* Statistic headline distance to the bottom */
}

#ts3stats table td{
    font-size:12px; /* Font size text Statistic */
    color:black; /* Font color text: Statistic */
    text-align:left;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;

}


.tsleer{
    width:20px;
    float:left;
}

#tscont{
    text-align:left;
}





